.filters {
  min-width: 1200px;
  min-height: 217px;
  margin: 0;
  padding: 0;
  color: #ffffff;

  background-color: #000000;
  background-image: url(/img/filter-bg.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
