.form {
  display: flex;
  flex-direction: column;
  width: 568px;
  min-height: 395px;
  padding: 55px;

  box-sizing: border-box;
  background-color: rgb(204, 204, 204);

  &--closed {
    display: none;
  }

  &--nojs {
    display: flex;
  }

  &--opened {
    display: flex;
  }
}

.form label {
  margin-right: 25px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.form__arrive {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 29px;
}

.form__depart {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 30px;
  & label {
    margin-right: 20px;
  }
}

.form__guests-count {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.form__adult {
  display: flex;
  align-items: center;
  margin-top: 0;

  & label {
    margin-right: 40px;
  }
}

.form__child {
  display: flex;
  align-items: center;
  margin-top: 0;
}

.form__input {
    box-sizing: border-box;
    padding: 6px 12px;

    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;

    background-color: white;
    border: none;
    &::placeholder {
      color: black;
    }

    &--arrive,
    &--depart {
      flex-grow: 1;
    }

    &--adult,
    &--child {
      width: 38px;
      text-align: center;
    }
}

.form__search {
  display: inline-block;
  width: auto;
  padding: 15px 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;

  background-color: #81B3D2;
  border: none;

  &:hover,
&:focus {
  background-color: rgb(102, 158, 192);
}

&:active {
  background-color: rgb(84, 150, 192);
  color: rgba(#ffffff, $alpha: 0.3)
}
}

.form__plus {
  width: 38px;
  padding: 6px 12px;
  display: inline-block;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;

  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.3);

  &:hover,
  &:focus {
    color: #000000;
  }

  &:active {
    color: #81B3D2;
  }
}

.form__minus {
  width: 38px;
  padding: 6px 12px;
  display: inline-block;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;

  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.3);

  &:hover,
  &:focus {
    color: #000000;
  }

  &:active {
    color: #81B3D2;
  }
}
