.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 509px;

  background-color: #ffffff;
}

.page-header__logo {
  position: absolute;
  align-self: center;
}

.page-header__main-nav {
  margin: 0 auto;
}

.page-header--hotels {
  margin-bottom: 0;
}
