.page-footer {
  display: flex;

  width: 1200px;
  min-height: 120px;
  margin: 0 auto;
  padding-top: 38px;
}

.page-footer__contacts {
  margin-left: 142px;
}

.page-footer__social {
  margin-left: 157px;
}

.page-footer__copyright {
  margin-left: 270px;
}
