.recomendation__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.recomendation__item {
  position: relative;
  width: 400px;
  min-height: 332px;
  background-color: rgb(204, 204, 204);
  text-align: center;
  color: black;

  &--home::before {
    content: "";

    position: absolute;
    top: 60px;
    right: 164px;

    width: 75px;
    height: 72px;

    background-repeat: no-repeat;
    background-image: url(/img/icon-house.png);
  }

  &--food::before {
    content: "";

    position: absolute;
    top: 60px;
    right: 163px;

    width: 74px;
    height: 70px;

    background-repeat: no-repeat;
    background-image: url(/img/icon-burger.png);
  }

  &--souvenir::before {
    content: "";

    position: absolute;
    top: 55px;
    right: 168px;

    width: 64px;
    height: 76px;

    background-repeat: no-repeat;
    background-image: url(/img/icon-present.png);
  }
}


.recomendation__title {
  padding-top: 160px;
  width: 150px;
  margin: 0 auto;
  margin-bottom: 23px;

  font-size: 21px;
  line-height: 21px;
}


.recomendation__text {
  width: 290px;
  margin: 0 auto;

  font-size: 14px;
  line-height: 21px;
  margin-bottom: 25px;
}
