.social__list {
  display: flex;
  justify-content: space-between;
  width: 150px;

  list-style: none;
  padding: 0;
  margin: 0;
}


.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;

  background-color: rgb(129, 179, 210);

  &:hover,
  &:focus{
    background-color: #ffffff;
  }

  &:hover path,
  &:focus path{
    fill: #000000;
  }
}

