.sorting-panel {
  display: flex;

}

.sorting-panel__title {
  margin: 0;
  margin-right: 30px;
  font-size: 12px;
  line-height: 18px;
}

.type-list {
  margin: 0;
  margin-right: 475px;
  padding: 0;
}

.sorting-panel__at-firts-list {
  margin: 0;
  padding: 0;
}
