.sorting-panel {
  display: flex;
}

.sorting-panel__title {
  margin: 0;
  margin-right: 30px;
  font-size: 12px;
  line-height: 18px;
}

.sorting-panel__type-list {
  margin: 0;
  padding: 0;
}

.sorting-panel__at-firts-list {
  margin: 0;
  padding: 0;
  margin-left: 470px;
}
