.type-list {
  display: flex;
  list-style: none;

  font-size: 12px;
  line-height: 18px;
}

.type-list__item {
  margin-right: 32px;
}

.type-list__link {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 1px dotted #81B3D2;

  &:hover,
  &:focus {
    color: #81B3D2;
  }

  &:active {
    color: #000000;
    border-bottom: none;
  }

  &--active {
    color: #81B3D2;
    border-bottom: none;
  }
}
