@mixin button {
  display: block;
  padding: 6px 15px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81B3D2;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
